.error-alert {
  display: flex;
  justify-content: center;
  margin: 5vh 2vw;
  padding: 5px;
  background-color: rgba(255, 80, 50, 0.3);
}

.error-message {
  font-size: 14px;
  list-style: none;
  color: rgb(182,48,0);
}