.goal-show-btn {
  width: 40%;
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-btn {
  width: 150px;
  background: linear-gradient(#64d4cf, #2f82a8);
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 5px;
}

.goal-destroy-btn {
  width: 80px;
  background: linear-gradient(#ff6c40, #d63838);
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 10px;
  text-align: center;
}

.check-box-group {
  margin-left: 10px;
}

.checkbox-important,
.checkbox-text {
  cursor: pointer;
}