a {
  text-decoration: none;
  color: #444;
}

.goal-main {
  width: 100vw;
  height: 100%;
  min-height: 600px;
  background: linear-gradient(to bottom right, #2a5b6d, #a1dfb6);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'ヒラギノ丸ゴ ProN W4', 'Hiragino Maru Gothic ProN';
  padding: 30px 0;
}

.goal-object {
  width: 700px;
  height: 160px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 15px;
  margin: 20px 0;
}

.goal-header {
  width: 100%;
  height: 48px;
  font-size: 18px;
  background-color: #eee;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.goal-header-text {
  line-height: 48px;
  color: #444;
  margin-left: 14px;
}

.goal-deadline {
  line-height: 48px;
  color: #444;
  margin-right: 14px;
  font-size: 14px;
}

.goal-info-area {
  display: flex;
}

.goal-description-text {
  width: 480px;
  font-size: 14px;
  padding: 15px;
  color: #444;
}

.goal-progress-area {
  width: 100px;
  display: flex;
  flex-direction: column;
}

.goal-progress-circle {
  margin: 15px 10px;
  text-align: center;
  line-height: 70px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #eee;
  color: #ccc;
}

.goal-edit-area {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 5px;
}

.goal-edit-btn {
  padding: 10px;
  background: linear-gradient(#64d4cf, #2f82a8);
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  border: none;
  text-align: center;
  border-radius: 12px;
}

.goal-create-btn {
  width: 120px;
  background: linear-gradient(#64d4cf, #2f82a8);
  text-align: center;
  border-radius: 4px;
  bottom: 60px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.create-btn-text {
  counter-reset: #fff;
  color: #eee;
  display: block;
  font-size: 18px;
  margin-bottom: 5p;
}

.dummy-message {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.dummy-message-text {
  color: #eee;
}


/* 進捗入力ボタン押下後のcss */
.input-progress-area {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-progress-circle {
  margin: 8px 10px;
  text-align: center;
  line-height: 70px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #eee;
  color: #ccc;
}

.goal-update-area {
  line-height: 10px;
}

.input-goal-progress{
  width: 100%;
}

.goal-update-btn {
  padding: 10px;
  height: 34px;
  background: linear-gradient(#ff6c40, #d63838);
  color: #fff;
  line-height: 15px;
  font-size: 14px;
  border: none;
  text-align: center;
  border-radius: 12px;
  margin-top: 7px;
}